.site_container {
    display: flex;
    height: 100vh;
    
}


.content_container {
    flex: 1; /* Der Inhalt nimmt den verfügbaren Platz ein */
    padding: 20px;
    margin-left: 350px;
    max-width: 60%;
}


